@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

#titulo {
  font-size: 2rem;
  font-style: italic;
  color: aliceblue;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding-left: 10px;
  font-weight: bold;
  color: saddlebrown;
}

li:hover {
  color: rgb(74, 56, 22);
}