@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/* Estilo de Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

#titulo {
  font-size: 2rem;
  font-style: italic;
  color: aliceblue;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding-left: 10px;
  font-weight: bold;
  color: saddlebrown;
}

li:hover {
  color: rgb(74, 56, 22);
}

/* Estilo del Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulos {
  padding: 30px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.boton {
  margin: 20px;
  background-color: rgb(195, 154, 78);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controles {
  display: inline-block;
}

button {
  padding: 15px;
  margin: 10px;
  background-color: rgb(129, 101, 49);
  color: black;
}

button:hover {
  background-color: rgb(137, 130, 116);
}

span {
  padding: 1rem;
}