@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

/* Estilo de Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b79987;
  padding: 15px;
}

.titulo {
  font-size: 2rem;
  font-style: italic;
  color: aliceblue;
  padding-right: 20px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  font-weight: bold;
}

li a {
  padding: 0 8px 13px;
  list-style: none;
  text-decoration: none;
  color: saddlebrown;
}

.listNavbar li a:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline 1rem;
}

/*Seccion carrito*/

.counterCompra {
  display: block;
}

.contador {
  display: block;
  color: saddlebrown;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  right: 98px;
  top: 15px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCompra {
  display: flex;
  margin: 10px;
}

.containerCarrito {
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerCarrito button {
  margin-left: 90px;
}

.cardCompra p {
  font-family: 'Nunito', sans-serif;
}

.infoCompra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
}

/* Estilo del Main */

main {
  display: flex;
  justify-content: center;
}

.titulos {
  font-size: 1rem;
}

h2, h3, p {
  padding: 20px;
  font-size: 1rem solid;
  color: black;
}

.boton {
  margin: 20px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controles {
  display: inline-block;
}

button {
  padding: 15px;
  margin: 10px;
}

button:hover {
  background-color: #d4b19b;
}

span {
  padding: 1rem;
}


/* Cards */

.containerCards {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  padding: 10px;
}

.cards p {
  font-family: 'Nunito', sans-serif;
}

.cardIndividual {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

p, span {
  font-weight: bold;
}

.containerCards  img{
  width: 400px;
  height: 500px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.info p {
  padding-top: 15px;
}

.productos {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  background-color: #d4b19b;
}

.productos div {
  display: flex;
  padding: 20px;
  align-items: center;
}

.containerImg {
  width: 80rem;
  height: 600px;
}


/*Footer*/

footer {
  background-color: #b79987;
}

.panelFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.infoFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  border-left: solid 1px rgb(135, 120, 92);
}

.listaFooter{
  flex-direction: column;
  list-style: none;
}

.listaFooter li a:hover {
  color: white;
}

.copy {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 30px;
}

/*Form*/

.contacto {
  margin: 25px;
  display: flex;
  justify-content: center;
}

.redes{
  padding: 15px 40px;
  border-right: 1px solid rgb(135, 120, 92);
}

.redes ul {
  padding: 15px;
}

form {
  display: flex;
  justify-content: center;
}

form div {
  padding: 15px 40px;
}

input {
  padding: 20px;
}

select {
  padding: 20px;
}

label {
  padding: 10px;
}